@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Teko:wght@500&display=swap');

html{
    scroll-behavior: smooth;

}
.inline-block{
    padding: 20px;
    list-style: none;
}

.logo{
    padding: 1%;
    text-align: center;
    height: 90px;
}

nav{
    justify-content: flex-end;
    color: black;
}

a{
    color: black;
    text-decoration: none;

}

.button-color{
    color: black;
    text-decoration: none;
}



.navigation{
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: 0 auto;
}


ul{
    display: flex;
    align-items: center;
    font-family: Teko, Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.heroImg{
    display: flex;
    height: 400px;
    padding: 25px;
}


.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: 0 auto;
}

.wolf{
    height: 200px;
}

.content-left{
    justify-content: flex-start;
    order: 1;
    width: 400px;
}

.content-right{
    justify-content: flex-end;
    order: 2;
}

/*Skills Section*/
.myWrapper img {
    display: block;
    text-align: center;
    vertical-align: middle;
    max-width: 70px;
    min-width: 10%;
}

.myWrapper p {
    margin-bottom: 10px;
    margin-top: 0;
    color: #4a4a4a;
}
.margin-150px {
    margin-top: 100px;
    display: block;
  }
  .containerSkill {
    display: block;
    max-width: 100%;
    margin-right: 0px;
    margin-left: 0px;
    flex: 1;
    text-align: left;
  }
  .myWrapper {
    position: relative;
    z-index: 0;
    display: grid;
    margin-top: 30px;
    margin-right: 0px;
    margin-left: 0px;
    padding-bottom: 30px;
    justify-items: center;
    align-items: center;
    grid-auto-columns: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* might need to specify 2 rows */
    grid-template-rows: 100px 100px;
  }
  
  #skillsTitle {
    text-align: center;
    padding-top: 30px;
    font-size: 50px;
    font-weight: 900;
    margin: 20px;
  }
  .mySkillsWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    transition: transform 200ms ease;
  }
  .mySkillsWrapper:hover {
    transform: scale(1.1);
  }
  .tool-brand-image {
    max-width: 100%;
    margin-right: 10px;
  }
  .toolTitle {
    margin-top: 0px;
    margin-bottom: 5px;
    /* modify font family */
    font-family: Chivo, sans-serif;
    color: black;
    /* modify font size */
    font-size: 1.5em;
    line-height: 25px;
    font-weight: 700;
  }
  .toolSubhead {
    /* modify font family */
    font-family: Chivo, sans-serif;
    /* modify font size */
    font-size: 14px;
    letter-spacing: -0.5px;
    line-height: 16px;
    color: black;
  }
  .skills {
    background-color: rgba(0, 147, 255, .1);
    margin-top: 150px;
  }

footer{
    display: flex;
    justify-content: center;
    background-color: black;
    color: azure;
    margin: 0 auto;
}

.footer-txt{
    font-family: lato, Arial, Helvetica, sans-serif;
    font-size: 16px;
}



.content-about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-right: 120px;
    margin-top: 0;
    padding: 40px;
    padding-top: 1px;
}

.about{
    padding: 30px;
    margin: 0 auto;
}

.flexContainer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    background-color: black;
    border: 8px solid white;
    padding: 20px;
    
}

.myProjects{
    padding: 30px;
    margin: 0 auto;
}

.card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin-bottom: 30px;
    border: 2px solid black;
    border-radius: 12px;
    padding-bottom: 0;
}

.content-left{
    width: 400px;
    padding: 30px;
}

.content-right{
    padding: 0;
    width: 301px;
}


p{
    font-family: lato, Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 20px;
}

h1{
    font-family: teko, Arial, Helvetica, sans-serif;
    font-size: 46px;
    color: black;
    justify-content: center;
}

h2{
    font-family: teko, Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: black;
}

button{
    font-family: lato, Arial, Helvetica, sans-serif;
    color: #ffffff;
    background-color: black;
    font-size: 14px;
    padding: 6px;
    width: 170px;
    border: 2px solid #243E36;
    border-radius: 20px;
}

.logos{
    height: 70px;
}

.Myself{
    height: 400px;
}


.fill-form{
    padding: 40px;
}

form{
    width: 90%;
    max-width: 600px;
    margin-top: 40px;
}
.input-group{
    margin-bottom: 30px;
    position: relative;
}

input, textarea{
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 2px solid black;
    border-radius: 10px;
    color: #ffffff;
    background: transparent;
    font: 16px;
}

label{
    font-family: lato, Arial, Helvetica, sans-serif;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    color: #243E36;
    cursor: text;
    transition: 0.2s;
}

.Submit-button{
    font-family: lato, Arial, Helvetica, sans-serif;
    color: #ffffff;
    background-color: #243E36;
    outline: none;
    font-size: 14px;
    padding: 10px 0;
    width: 100%;
    cursor: pointer;
}

input:focus~label, input:focus~label, 
textarea:focus~label, textarea:valid~label{
    top: -35px;
    font-size: 14px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.row .input-group{
    flex-basis: 46%;
}

.horizontal-line{
    width: 100%;
    height: 7px;
    border: 0 none;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #A8763E;
}


@media screen and (max-width:600px){

.flexContainer{
    flex-direction: row;
}

.logos{
    height: 25px;
}

.card{
    flex-direction: column;
    width: 72%;
}

.content-left{
    width: 285px;
    padding-left: 35px;
}

.content-right{
    padding: 0;
}

p{
    font-size: 11px;
}

h2{
    font-size: 20px;
}
button{
    font-size: 10px;
    padding: 3px;
    width: 120px;
    border: 1px solid #243E36;
}

.content{
    flex-direction: column;
    width: 72%;
}

.content-about{
    flex-direction: column;
    width: 60%;
}

.Myself{
    height: 300px;
}

.navigation{
    flex-direction: row;
    display: flex;
}

.logo{
    height: 50px;
    
}

li{
    font-size: 12px;
}

label{
    font-size: 12px;
}

input:focus~label, input:focus~label, 
textarea:focus~label, textarea:valid~label{
    font-size: 10px;
}

.Submit-button{
    font-size: 12px;
}
}